.box{
    border:5px solid #000;
    width:400px;
    height:400px;
}
.box1{
    border-radius:30px; /* 30px의 반지름의 원을 모서리에 적용한다 */
    box-shadow: 20px -20px 10px orange;
}
.box2{
    border-radius: 50%; /* 설정된 너비(400px)의 반만큼이 반지름으로 설정된다 */
    box-shadow: /* 여러개의 그림자를 설정하는 방법 */
    20px 20px 0px red,
    -20px -20px 0px blue; 
}
.box3{
    background-color: blue;
    border-radius: 50px 100px; 
    /* opacity:0; */
    display:none;
}
.box4{
    border-radius: 0px 50px 100px 150px; /* 시계방향으로 각기 다른 값을 지정할 수 있다 */
}
