@font-face { 
    font-family: 'yg-jalnan'; /* 수정 가능 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    /* font-weight: normal;
    font-style: normal; 생략 가능 */
}
.font1{
    font-family: 'yg-jalnan';
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.edu{
    font-family: "Edu AU VIC WA NT Guides", cursive;
}